<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Opción 1</a>
    <ng-template ngbNavContent>
      <app-option-one
        [posts]="posts"
        [itemsPerPage]="itemsPerPage">
      </app-option-one>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Opción 2</a>
    <ng-template ngbNavContent>
      <app-option-two
        [posts]="posts"
        [itemsPerPage]="itemsPerPage">
      </app-option-two>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Opción 3</a>
    <ng-template ngbNavContent>
      <app-option-three
        [posts]="posts"
        [itemsPerPage]="itemsPerPage">
      </app-option-three>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


