<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let post of posts">
    <div class="card custom-card">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
          <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
            <span class="mb-2">
              <p-radio name="color" shape="round" color="primary">
                ID {{post.id}}
              </p-radio>
            </span>
            <span class="mb-2">
              <button class="btn p-0">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x text-success"></i>
                  <i class="fas fa-play fa-stack-1x text-white"></i>
                </span>
              </button>
              <button class="btn p-0">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x text-warning"></i>
                  <i class="fas fa-pause fa-stack-1x text-white"></i>
                </span>
              </button>
              <button class="btn p-0">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x text-info"></i>
                  <i class="fas fa-retweet fa-stack-1x text-white"></i>
                </span>
              </button>
              <button class="btn p-0">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x text-danger"></i>
                  <i class="fas fa-exclamation fa-stack-1x text-white"></i>
                </span>
              </button>
              <button class="btn p-0">
                <i class="fas fa-arrow-circle-left fa-2x fa-fw text-primary"></i>
              </button>
              <button class="btn p-0">
                <span class="fa-stack">
                  <i class="fas fa-square fa-stack-2x text-danger"></i>
                  <i class="fas fa-pen fa-stack-1x text-white"></i>
                </span>
              </button>
              <button class="btn p-0">
                <i class="fas fa-clock fa-2x fa-fw text-danger"></i>
              </button>
            </span>
          </div>

          <span class="mb-2">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x text-danger"></i>
              <i class="fas fa-user fa-stack-1x text-white"></i>
            </span>
          </span>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6 mb-2">
            <strong>User ID</strong>
            <br />
            {{post.userId}}
          </div>
          <div class="col-12 col-lg-6">
            <strong>ID</strong>
            <br />
            {{post.id}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
